@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.img{
    width: 700px;
    height: 250px;
}

.logo{
    display: flex; 
    justify-content: center; 
    padding: 20px 0 80px 0;
}

.about{
    font-size: 25px;
    text-align: center;
    font-family: "Caveat";
    padding: 30px 0 0 0;
}

.text{
    font-size: 18px;
    text-align: center;
    font-family: "Caveat";
}

.header{
    display:flex;
    justify-content: space-between ;
    width: 100%; 
    padding: 20px 0 20px 0;
    background-color: #f2f2f2;
    padding: 20px 0 20px 0;
}

a{
    text-decoration: none;
    color:black;
    font-family: "Caveat";
    padding: 0 20px 0 20px;
    font-size: 20px;
}

.img1{
    width: 400px;
    height: 400px;
}

.stick{
    display: flex; 
    justify-content: center; 
    padding: 60px 0 40px 0;
    background-color: #f2f2f2;
}

.stick_about{
    text-align: center;
    font-family: "Caveat";
    background-color: #f2f2f2;
    padding: 20px 0 20px 0;
    font-size: 18px;
}

.img2{
    width: 500px;
    height: 500px;
}

.shampoo{
    display: flex; 
    justify-content: center; 
    padding: 30px 0 40px 0;
    background-color: #f2f2f2;
}

.shampoo_about{
    text-align: center;
    font-family: "Caveat";
    background-color: #f2f2f2;
    padding: 20px 0 20px 0;
    font-size: 18px;
}

.img3{
    width: 500px;
    height: 500px;
}

.gel{
    display: flex; 
    justify-content: center; 
    padding: 30px 0 40px 0;
    background-color: #f2f2f2
}

.gel_about{
    text-align: center;
    font-family: "Caveat";
    background-color: #f2f2f2;
    padding: 20px 0 20px 0;
    font-size: 18px;
}

.production{
    text-align: center;
    font-size: 30px;
    font-family: "Caveat";
    padding: 40px 0 0 0;
}

.brow{
    display: flex; 
    justify-content: center; 
    padding: 30px 0 40px 0;
    background-color: #f2f2f2
}

.brow_about{
    text-align: center;
    font-family: "Caveat";
    background-color: #f2f2f2;
    padding: 20px 0 20px 0;
    font-size: 18px;
}

.img4{
    width: 500px;
    height: 500px;
}

.cream{
    display: flex; 
    justify-content: center; 
    padding: 30px 0 40px 0;
    background-color: #f2f2f2
}

.img5{
    width: 450px;
    height: 500px;
}

.cream_about{
    text-align: center;
    font-family: "Caveat";
    background-color: #f2f2f2;
    padding: 20px 0 20px 0;
    font-size: 18px;
}

.stick{
    text-align: center;
    font-size: 20px;
    font-family: "Caveat";
    background-color: #f2f2f2;
}